<%= link_to invoice_path(invoice_list), class: "rounded text-decoration-none primary-border text-title custom-hover-primary d-inline-flex flex-column gap-2 #{invoice_list == invoice ? 'active-btn' : ''}", data: {turbo_frame: 'invoice', turbo_action: 'advance' } do %>
  <span class="fs-7 fw-semibold d-flex align-items-center px-2 pt-2 gap-2">
    <%= invoice_list.readable_name %>
  </span>
<% end %>
<% turbo_frame_tag invoice_list do %>
  <% button_to "Destroy", invoice_path(invoice_list), method: :delete %>
<% end %> 