.turbo-progress-bar {
  background: var(--bs-warning)
}

$main-bg: #F8F8F8;
$text-title: #4E4C4C;
$primary-bg: #4E4C4C;
$secondary-color: #ababab;



input.is-valid,
textarea.is-valid,
select.is-valid {
  background-image: none !important;
  padding-right: 0.75rem !important; // optional: reduce padding if needed
}

input.is-invalid,
textarea.is-invalid,
select.is-invalid {
  background-image: none !important;
  padding-right: 0.75rem !important; // optional: reduce padding if needed
}

body {
  background: $main-bg;
}

.text-title {
  color: $text-title
}

.primary-bg {
  background: $text-title;
  color: white;
}

.secondary-color {
  color: $secondary-color;
}

.main-bg {
  background: $main-bg;
}

.invoice_name, .invoice_total {
  margin-bottom: 0 !important;
}

#invoice_name, #invoice_total {
  font-size: 1.5rem !important;
  font-weight: 600;
}

.invoice_details {
  height: 75% !important;
}

.custom-hover-danger:hover {
  color: #e74c3c;
  transition: color 0.3s ease;
  cursor: pointer
}

.primary-border {
  border: solid 2px $primary-bg;
}

.active-btn, .custom-hover-primary:hover {
  color: white;
  transition: color 0.3s ease;
  cursor: pointer;
  background:$primary-bg;
  i {
    color: white;
    transition: color 0.3s ease;
  }
}

.custom-hover-normal:hover {
  color: $text-title;
  transition: color 0.3s ease;
  cursor: pointer;
  background: white;
  i {
    color: $primary-bg;
    transition: color 0.3s ease;
  }
}

.rotate-on-hover {
  transition: transform 0.3s ease;
}

.rotate-on-hover:hover {
  transform: rotate(30deg);
}

.border-dashed {
  border-style: dashed !important;
  cursor: pointer;
}

.fs-small {
  font-size: 13px;
}

.custom-button {
  max-width: fit-content;
}



